.dropdown-trigger{
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #CCC8C3;
  margin-bottom: 10px;
  transition: background 1s, color 1s;
}