#group-log-table, #group-log-pending-table{
  border-collapse: collapse;

  thead td{
    font-weight: bold;
  }

  thead, tbody{
    td{
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr:nth-child(even){
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }
  }
}


#color-legend-table{
  border-collapse: collapse;
  margin-top: 10px;

  /*thead td{
    font-weight: bold;
  }*/

  tbody td{
    padding: 8px;

    .color-legend-square{
      width: 10px;
      height: 10px;
    }

    .orange{
      background-color: #f39c12;
    }
  }
}